.app {
  padding: 10px;
}

$fixed-width-font: 'Courier New', Courier, monospace;

.show-hex-checkbox {
  padding-top: 10px;
}

button {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 150ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }

  &:hover,&:focus {
    background: #0053ba;
  }
  
  &:active {
    transform: scale(0.99);
  }
    
}

$byte-table-internal-border: 1px solid black;

.byte-table {
  table-layout: fixed;
  width: 800px;
  border-collapse: collapse;
  border: 2px solid black;
  td {
    text-align: center;
  }
}

.byte-table-row3 {
  border-bottom: $byte-table-internal-border;
}

.byte-table__border-right {
  border-right: $byte-table-internal-border;
}

.byte-table__byte-header-cell {
  border-right: $byte-table-internal-border;
  text-align: center;
  width: 80px;
}

.byte-table__header-cell {
  font-weight: bold;
}

.byte-table__hex-cell {
  font-family: $fixed-width-font;
  padding-top: 5px;
}

.byte-table__interpretation-cell {
  padding-bottom: 5px;
}

.byte-table__cell-style-1 {
  background-color: rgb(255, 218, 218);
}

.byte-table__cell-style-2 {
  background-color: rgb(255, 225, 205);
}

.byte-table__cell-style-3 {
  background-color: rgb(245, 255, 202);
}

.byte-table__cell-style-4 {
  background-color: rgb(228, 253, 219);
}

.byte-table__cell-style-5 {
  background-color: rgb(209, 253, 255);
}

.byte-table__cell-style-6 {
  background-color: rgb(227, 221, 252);
}

.byte-table__cell-style-7 {
  background-color: rgb(241, 211, 255);
}

.byte-table__cell-style-8 {
  background-color: rgb(255, 219, 250);
}

.byte-table__cell-style-9 {
  background-color: rgb(231, 231, 231);
}

.raw-hex {
  font-family: $fixed-width-font;
  border: 1px dashed black;
  padding: 5px;
  overflow-wrap: break-word;
}

.rfc-link {
  padding-bottom: 5px;
}

.bitstream-serial-number-radio-label {
  font-family: $fixed-width-font;
  margin-left: 5px;
}

.dropzone {
  display: inline-block;
  border: 2px solid blue;
  padding: 10px;
  margin-top: 10px;
}